extends _template/_base

block vars
  - lev1ID = 'top';
block links
  link(href=`${pathToCSS}top.css`, rel="stylesheet", type="text/css")

block scripts
  script(src=`${pathToJS}top.js`)

block main
  p this is TEST
  p: a(href=links.google) link to Google
